@model DairyManagement.ViewModels.Vendor.VendorViewModel

@{ ViewBag.Title = "Edit2";
    Layout = "~/Views/Shared/_NewLayout.cshtml"; }

<div id="content" class="pmd-content inner-page">
    <div class="container-fluid full-width-container">

        <!--section-title -->
        <h2>Edit</h2>
        <h4>Vendor Info</h4>
        <!--section-title end -->
        <!-- section content start-->
        <div class="pmd-card pmd-z-depth">
            <div class="pmd-card-body">

                <div class="group-fields clearfix row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            @Html.LabelFor(model => model.VendorName)
                            @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div>
                    <div>
                        <div class="group-fields clearfix row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    @Html.LabelFor(model => model.LocationName)
                                    @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <a href="javascript:void(0);" class="btn btn-primary next">Save</a>
                        <a href="javascript:void(0);" class="btn btn-default">Back</a>
                    </div>
                    <!-- section content End-->
                </div>
            @Html.ActionLink("Back to List", "Index")
        </div>
            </div>
        </div>

        

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
